<template>
    <div class="detail-btn"
         v-on:click="onClick();">
        <div class="left-shape"></div>
        <div class="center-shape">{{btnText}}</div>
        <div class="right-shape"></div>
    </div>
</template>

<script>
export default {
    props: {
        btnText: String,
    },
    methods: {
        onClick: function() {
            this.$emit('onClick');
        },
    }
};
</script>

<style scoped>
    .detail-btn {
        display: inline-table;
        margin: 0 50px;
        color: #fff;
    }
    .left-shape,
    .right-shape {
        display: table-cell;
        width: 20px;
        background-color: #EC3B7F;
    }
    .left-shape {
        border-radius: 25px 0 0 25px;
    }
    .right-shape {
        border-radius: 0 25px 25px 0;
    }
    .center-shape {
        padding: 10px;
        background-color: #EC3B7F;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .detail-btn {
            margin: 0 10px;
        }
    }

    @media (min-width: 1023px) and (max-width: 1280px) {
        .detail-btn {
            margin: 0 75px;
        }
    }

</style>
