<template>
    <div class="header">
        <div class="header-item" v-bind:class="{ selected: '/intro' === pageInfo.path }">
            <div class="circle"></div>
            <router-link :to="'/intro'">INFO</router-link>
        </div>
        <div class="header-item" v-bind:class="{ selected: '/cube' === pageInfo.path }">
            <div class="circle"></div>
            <router-link :to="'/cube'">CUBE</router-link>
        </div>
        <div class="header-item" v-bind:class="{ selected: '/bike' === pageInfo.path }">
            <div class="circle"></div>
            <router-link :to="'/bike'">BIKE</router-link>
        </div>
        <div class="header-item" v-bind:class="{ selected: '/kick' === pageInfo.path }">
            <div class="circle"></div>
            <router-link :to="'/kick'">KICK</router-link>
        </div>
        <div class="header-item" v-bind:class="{ selected: '/map' === pageInfo.path }">
            <div class="circle"></div>
            <router-link :to="'/map'">MAP</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        pageInfo: Object,
    },
};
</script>

<style scoped>
    .header {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 65px;
        margin-top: 20px;
        z-index: 50;
    }
    .header-item {
        display: inline-table;
        padding: 25px;
    }
    .header-item a {
        color: #EC3B7F;
        text-decoration: none;
        opacity: 0.59;
        font-family: 'Mont Heavy DEMO', sans-serif;
        font-weight: 700;
    }
    .header-item.selected a {
        opacity: 1;
    }
    .header-item .circle {
        display: none;
        text-align: center;
        height: 0;
    }
    .header-item.selected .circle {
        display: block !important;
    }
    .header-item .circle:before {
        content: '';
        position: absolute;
        border: 1px solid #EC3B7F;
        width: 5px;
        height: 5px;
        margin-top: -12px;
        margin-left: -6px;
        border-radius: 50%;
        background-color: #EC3B7F;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .header-item {
            display: inline-table;
            padding: 15px;
        }
        .header {
            margin-top: 30px;
        }
    }
    /*
    .header-item::before {
        content: '';
        border: 1px solid #EC3B7F;
        width: 5px;
        height: 5px;
    }
    */
</style>
