<template>
    <div class="logo" v-bind:class="{ white: 'white' === color, small: 'small' === size }">
        <!-- 추후 로고 확정시, 이미지 파일로 교체하는 것이 좋아보임 -->
        <!-- if condition : white or pink -->
        <span class="text-1">MARY</span>
        <span class="text-2">SHARING</span>
    </div>
</template>

<script>
export default {
    props: {
        color: {
            type: String,
            default: '',
        },
        size: {
            type: String,
            default: 'medium', // 'small'
        }
    },
};
</script>

<style scoped>
    .logo {
        position: relative;
        display: inline-table;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        z-index: 50;
    }
    .logo .text-1 {
        font-size: 48px;
        margin-right: 24px;
    }
    .logo .text-2 {
        font-size: 24px;
    }
    .logo span {
        color: #EC3B7F;
    }
    .logo.white span {
        color: white;
    }

    .logo.small .text-1 {
        font-size: 18px;
        margin-right: 12px;
    }
    .logo.small .text-2 { font-size: 12px; }


</style>
