<template>
    <ul>

        <CarouselItem>
            <div class="text-1">STEP1</div>
            <div class="text-2">
                친환경 공유 모빌리티 서비스 메리에 오신것을 환영합니다<br />
                탈 것을 고르세요.
            </div>
            <div class="indicator">
                <div class="indicator-item"
                     v-for="index in indicatorNumber" :key="index"
                     v-bind:class="{ current: index === currentIndex }"
                     v-on:click="onClickIndicator(index);"></div>
            </div>
            <div clas="bg-img-wrapper">
                <div class="bg-img bg-img-1"></div>
            </div>
        </CarouselItem>

        <CarouselItem>
            <div class="text-1">STEP2</div>
            <div class="text-2">
                앱에서 시작 버튼을 누르면 대여를 시작합니다.<br />
                헬멧 쓰는 것을 잊지 마세요.
            </div>
            <div class="indicator">
                <div class="indicator-item"
                     v-for="index in indicatorNumber" :key="index"
                     v-bind:class="{ current: index === currentIndex }"
                     v-on:click="onClickIndicator(index);"></div>
            </div>
            <div class="bg-img bg-img-2"></div>
        </CarouselItem>

        <CarouselItem>
            <div class="text-1">STEP3</div>
            <div class="text-2">
                사용이 끝난 후에는 앱에서 완료버튼을 눌러 주세요
            </div>
            <div class="indicator">
                <div class="indicator-item"
                     v-for="index in indicatorNumber" :key="index"
                     v-bind:class="{ current: index === currentIndex }"
                     v-on:click="onClickIndicator(index);"></div>
            </div>
            <div clas="bg-img-wrapper">
                <div class="bg-img bg-img-3"></div>
            </div>
        </CarouselItem>

        <CarouselItem>
            <div class="text-1">STEP4</div>
            <div class="text-2">
                배터리 잔량이 모자르게 되면,<br />
                근처의 에너지 스테이션에서 교환하실 수 있습니다.
            </div>
            <div class="indicator">
                <div class="indicator-item"
                     v-for="index in indicatorNumber" :key="index"
                     v-bind:class="{ current: index === currentIndex }"
                     v-on:click="onClickIndicator(index);"></div>
            </div>
            <div class="bg-img bg-img-4"></div>
        </CarouselItem>

        <CarouselItem>
            <div class="text-1">STEP5</div>
            <div class="text-2">
                메리는 최선을 다해 모시겠습니다.<br />
                행복하고 안전한 여행 되세요.
            </div>
            <div class="indicator">
                <div class="indicator-item"
                     v-for="index in indicatorNumber" :key="index"
                     v-bind:class="{ current: index === currentIndex }"
                     v-on:click="onClickIndicator(index);"></div>
            </div>
            <router-link :to="'/home'">
                <div class="start-btn">시작하기</div>
            </router-link>
            <div class="bg-img bg-img-5"></div>
        </CarouselItem>

    </ul>
</template>

<script>
import ItemSlide from 'itemslide';
import CarouselItem from '@/components/carousel/CarouselItem';

var carousel = undefined;

export default {
    data() {
        return {
            indicatorNumber: 5,
            currentIndex: 1,
            images: [require("../../assets/intro_1.png"),require("../../assets/intro_2.png"),require("../../assets/intro_3.png"),require("../../assets/intro_4.png"),require("../../assets/intro_5.png")],
        };
    },
    components: {
        CarouselItem,
    },
    mounted: function() {
        var that = this;
        carousel = $('ul');
        carousel.itemslide({
            'one_item': true,
            'parent_width': true,
        });
        carousel.on('changeActiveIndex', function(event) {
            that.currentIndex = carousel.getIndexByPosition();

        });
    },
    methods: {
        onClickIndicator: function(index) {
            carousel.gotoSlide(index-1);
        },
    }
};
</script>

<style scoped>
    ul {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    li {
        position: relative;
        height: 100%;
        text-align: center;
        float: left;
    }
    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    /* background-image: url('../assets/mary_02.png'); */
    .bg-img-1 { background-image: url('../../assets/intro_1.png'); }
    .bg-img-2 { background-image: url('../../assets/intro_2.png'); }
    .bg-img-3 { background-image: url('../../assets/intro_3.png'); }
    .bg-img-4 { background-image: url('../../assets/intro_4.png'); }
    .bg-img-5 { background-image: url('../../assets/intro_5.png'); }

    /*
    :style="{ 'background-image': 'url(require(../../assets/intro_1.png))' }"
    */

    .text-1 {
        position: relative;
        margin-top: 40px;
        z-index: 5;
        color: #FDC65B;
        font-size: 21px;
        font-weight: 700;
    }

    .text-2 {
        position: relative;
        margin-top: 20px;
        z-index: 5;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
    }

    .start-btn {
        position: relative;
        display: table;
        z-index: 5;
        text-align: center;
        color: #fff;
        font-size: 21px;
        margin: 50px auto 0;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .indicator-item {
        position: relative;
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 30px;
        z-index: 5;
        cursor: pointer;
    }
    .indicator-item:first-child {
        margin-left: 0;
    }
    .indicator-item.current {
        background-color: #fff;
    }

</style>
