<template>
    <li>
        <slot></slot>
    </li>
</template>

<script>
export default {
};
</script>

<style scoped>
    /*
    ul {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    li {
        height: 100%;
        float: left;
    }
    */
</style>
