<template>
    <div class="page">
        <Detail v-bind:pageInfo="{ name: 'CUBE', path: '/cube' }">
            <div slot="contents">
                <div class="img-wrapper">
                    <div class="img">
                        <img class="cubeImg" src="../assets/B.png" />
                    </div>
                </div>
                <div class="spec-list-wrapper">
                    <div class="spec-list">
                        <div class="spec">
                            <div class="spec-title">배터리 갯수</div>
                            <div class="spec-value">
                                <div class="number">8</div>
                                <div class="unit">개</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">대여중 배터리</div>
                            <div class="spec-value">
                                <div class="number">0</div>
                                <div class="unit">개</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">사뇽가능 배터리</div>
                            <div class="spec-value">
                                <div class="number">7</div>
                                <div class="unit">개</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">충전중 배터리</div>
                            <div class="spec-value">
                                <div class="number">1</div>
                                <div class="unit">개</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="buttons">
                <Button v-bind:btnText="'문 열기 1'"
                        v-on:onClick="requestDoorOpen(1);"></Button>
                <Button v-bind:btnText="'문 열기 2'"
                        v-on:onClick="requestDoorOpen(2);"></Button>
            </div>
        </Detail>

        <audio id="door-open" style="display: hidden;">
            <source src="../assets/mp3/change.mp3" type="audio/mpeg">
        </audio>

    </div>
</template>

<script>
import Detail from '@/components/detail/Detail';
import Button from '@/components/detail/Button';

export default {
    components: {
        Detail,
        Button,
    },
    methods: {
        requestDoorOpen: function(doorNum) {
            let requestData = {
                type: 'door_open_'+doorNum,
                wait: true,
            };

            $('audio#door-open')[0].play();

            $.ajax({
                type: 'POST',
                url: 'http://34.85.118.236/api/cube_request',
                contentType: 'text/plain',
                data: JSON.stringify(requestData),
                success: function(resp) {
                    console.warn(resp);
                }
            });
        },
    },
};
</script>

<style scoped>
.cubeImg{
    margin-left:250px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .cubeImg{
        margin-left: 0px;
    }
}
</style>
