<template>
    <div class="page">
        <div class="btn-wrapper">
            <div class="back-btn">
                <router-link :to="'/home'">
                   <img class="back-btn-img" src="../assets/prevButton.png">
                </router-link>
            </div>
        </div>
        <Carousel />
    </div>
</template>

<script>
import Carousel from '@/components/carousel/Carousel';
export default {
    components: {
        Carousel,
    },
};
</script>

<style scoped>
    .btn-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        margin: 30px 0 0 30px;
        z-index: 10;
    }
    .back-btn {
        cursor: pointer;
    }
    .back-btn-img {
        width: 30px;
    }
</style>
