<template>
    <div class="page">
        <Detail v-bind:pageInfo="{ name: 'KICK', path: '/kick' }">
            <div slot="contents">
                <div class="img-wrapper">
                    <div class="img">
                        <img src="../assets/K.png" />
                    </div>
                </div>
                <div class="spec-list-wrapper">
                    <div class="spec-list">
                        <div class="spec">
                            <div class="spec-title">배터리 잔량</div>
                            <div class="spec-value">
                                <div class="number">00</div>
                                <div class="unit">%</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">주행거리</div>
                            <div class="spec-value">
                                <div class="number">1500</div>
                                <div class="unit">KM</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">최고시속</div>
                            <div class="spec-value">
                                <div class="number">40</div>
                                <div class="unit">KM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="buttons"></div> 
        </Detail>
    </div>
</template>

<script>
import Detail from '@/components/detail/Detail';
// import Button from '@/components/detail/Button';

export default {
    components: {
        Detail,
        // Button,
    },
}; 
</script>

<style scoped>

</style>
